*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

P{
    font-family: 'Inter', sans-serif;
}

body{
    background-color: white;
    font-family: 'Playfair Display', serif;
    color: black;
}

h1{
    font-size: 1.7rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.3rem;
}

h4{
    font-size: 1.1rem;
}

/*Header*/

.hamburguer{
    display: none;
}

nav{
    background-color: white;
    position: fixed;
    top: 0;
    left: 2.5%;
    z-index: 2;
    padding: 0;
    width: 95%;
    height: 6rem;
    margin: auto;
    display: grid; 
    grid-template-columns: 1.3fr 12fr 5fr 1.4fr; 
    grid-template-rows: 96px; 
    gap: 2px;
    align-items: center;
    grid-template-areas: 
    "logo menu busqueda iconos"
}

nav .logo{
    grid-area: logo;
}

.logo img{
    width: 6rem;
    height: 6rem;
}

.menu{
    grid-area: menu;
    list-style-type: none;
    padding: 0.5rem;
}

.menu ul{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .iconos{
    grid-area: iconos;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu .item{
    padding: 0.5rem;
}

.item.busqueda{
    padding: 0.5rem;
    grid-area: busqueda;
    display: flex;
    justify-content: flex-end;
}

.item.busqueda button{
    margin-left: 0.5rem;
}

.menu .submenu{
    list-style-type: none;
    position: absolute;
    line-height: 1.5;
    display: none;
}

.submenu .subitem{
    padding: 0.5rem;
}

.menu .item:hover{
    text-decoration: underline;
}

.menu .item:hover .submenu{
    display: flex;
    background-color: white;
}

.menu .item:hover .subitem:hover{
    text-decoration: underline;
}

.menu_iconos .item input::placeholder{
    color:#030303;
}

.item.busqueda input{
    font-family: 'Playfair Display', serif;
    font-size: 0.85rem;
    padding: 0.2rem;
    width: 12rem;
    background-color: #EEEEEE;
    border: 0px;
}

.barra_busqueda.boton{
    background-color: white;
    border: 0;
}

/*Frases Header*/

/*Imagen de fondo*/
.frase_header.home{
    background-image: url(../img/header_home.jpg);
}

.frase_header.nosotros{
    background-image: url(../img/header_nosotros.jpg);
}

.frase_header.contactanos{
    background-image: url(../img/header_contactanos.jpg);
}

.frase_header.p_tortas{
    background-image: url(../img/header_tortas.jpg);
}

.frase_header.p_cupcakes{
    background-image:url(../img/header_cupcakes.jpg);
}

.frase_header{
    height:38rem;
    width: 95%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    border-radius: 0.5rem;
}

.frase_header h1{
    font-size: 2rem;
}

/*Texto*/

/*Home*/
.frase_header.home{
    font-style: italic;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.frase_header.home h1{
    font-weight: lighter;
    background-color: #ffffffbd;
    height: 6rem;
    width: 20rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

/*Pages*/
.frase_header.nosotros, .frase_header.contactanos, .frase_header.p_tortas, .frase_header.p_cupcakes
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-style: italic;
}

.frase_header.nosotros h1, .frase_header.p_tortas h1{
    background-color: #ffffff69;
    height: 3rem;
    width: 19rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frase_header.contactanos h1, .frase_header.frase_header.p_cupcakes h1{
    background-color: #0000005a;
    height: 3rem;
    width: 19rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*HOME*/

/*Body*/

/*Categorias*/

.categorias .row{
    width: 95%;
    margin: auto;
    padding: 0;
    margin-bottom: 1.5rem;
}

.categorias .categorie{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.categorias img
{
    width: 13rem;
    height: 18rem;
    margin: 0.5rem auto;
    border-radius: 8px;
}

.categorias h2{
    text-align: center;
    padding: 1.5rem;
}

/*Frase*/

.frase_home{
    background-image: url(../img/tabla_madera.jpg);
    width: 95%;
    height: 10rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frase_home h2{
    color: white;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

/*Servicios*/

.servicios{
    width: 95%;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.servicios .tarjeta{
    border-radius: 0.5rem;
    margin: 0.5rem auto;
}

.servicios .tarjeta.fresh, .servicios .tarjeta.delivery{
    border: solid 2.5px #CFA89D;
}

.servicios .tarjeta.love, .servicios .tarjeta.cardd{
    background-color: #CFA89D;
}

.servicios .tarjeta i{
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.servicios .tarjeta h3{
    padding: 0.5rem;
    text-align: center;
}

.servicios p{
    font-family: 'Inter', sans-serif;
    padding: 0.5rem;
}

/*Equipo*/

.equipo.home .row{
    width: 95%;
    margin: auto;
    padding: 0;
    margin-bottom: 1.5rem;
}

.equipo.home .person{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.equipo.home h2{
    margin-bottom: 2rem;
}

.equipo img{
    width: 12rem;
    height: 15rem;
    margin: 0.5rem auto;
    border-radius: 0.5rem;
}

.equipo h4{
    color:#4F4F4F;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    padding: 0.5rem;
}

.equipo p{
    padding: 0.5rem;
}

/*NOSOTROS*/

.nosotros_description{
    width: 95%;
    margin: auto;
}

.nosotros_description, .nosotros_description div{
    padding: 0.5rem;
}

.nosotros_description img{
    display: flex;
    justify-content: center;
}

.equipo.nosotros h2{
    text-align: center;
}

/*CONTÁCTANOS*/

.formulario, .formulario h2, .informacion ul, .informacion h2{
    padding: 0.5rem;
}

.formulario label, .informacion li{
    font-family: 'Inter', sans-serif;
}

#nombre, #email, #comentario {
    background-color: #EEEEEE;
    border: 0;
    font-family: 'Inter', sans-serif;
}

/*PRODUCTOS*/

/*Filtro*/

.filtro, .container_productos, .filtro h3, .filtro h4, .filtro ul{
    padding: 0.5rem;
}

#precio_minimo::placeholder, #precio_maximo::placeholder{
    font-family: 'Playfair Display', serif;
    background-color: #EEEEEE;
    border: 0;
    height: 1.7rem;
    width: 6.5rem;
}

#precio_minimo, #precio_maximo{
    font-family: 'Inter', sans-serif;
    background-color: #EEEEEE;
    border: 0;
    height: 1.7rem;
    width: 6.5rem;
    padding: 1rem;
    margin: 0.5rem;
}

/*Container*/

.product{
    padding: 0.5rem;
}

/*Imagen*/

.product img{
    width: 15rem;
    height: 17rem;
}

/*Información*/

.info_product{
    line-height: 1.5;
}

.precio_product{
    color: #5A2A27;
    font-weight: 900;
}

/*Next page*/

.pages{
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.pages button, #numero_pagina{
    background-color: white;
    border: 0;
    padding-inline: 0.7rem;
}

#numero_pagina{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    border: 1px solid black;
    text-align: right;
    padding: 0.2rem;
    width: 3rem;
}

/*BOTONES*/

#enviar_button, #suscribir_button{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: white;
    background-color: black;
    padding: 0.2rem;
    width: 5.5rem;
    font-size: 0.75rem;
}

/*Añadir al carrito*/

.info_product button{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: white;
    background-color: black;
    padding: 0.2rem;
    width: 9rem;
    height: 2.15rem;
    font-size: 0.75rem;
}

/*SUSCRIPCIÓN*/

.suscripcion{
    background-image: url(../img/suscripcion.jpg);
    width: 95%;
    height: 10rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suscripcion form, .suscripcion h3{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.suscripcion #correo{
    font-family: 'Playfair Display', serif;
    padding: 0.2rem;
    width: 20rem;
    background-color: #EEEEEE;
    border: 0px;
}

.suscripcion #correo::placeholder{
    color:#030303;
}

/*Footer*/

footer{
    background-color: #5A2A27;
    border-radius: 8px;
    width: 95%;
    height: 18rem;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

footer .logo{
    padding: 0.5rem;
}

footer .contactos h4, footer .redes h4, footer .pagos h4, footer p{
    color: #C1C1C1;
    padding-bottom: 0.5rem;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

footer .contactos h4, footer .redes h4, footer .pagos h4{
    font-size: 1rem;
}

footer ul{
    list-style-type: none;
    color: white;
    text-align: start;
    padding: 0;
}

footer .row.info{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.redes ul, .pagos ul{
    display: flex;
    justify-content: center;
}

.redes ul li, .pagos ul li{
    padding-inline: 0.5rem;
}

footer p{
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-style: normal;
    font-size: 0.8rem;
}



@media screen and (max-width: 768px)
{

    /*NAVBAR*/

    nav{
        height: 9rem;
        display: grid; 
        grid-template-columns: 1fr 5fr 2fr; 
        grid-template-rows: 1fr 0.5fr; 
        gap: 2px; 
        grid-template-areas: 
        "hamburguer logo iconos"
        "busqueda busqueda busqueda";
    }

    .hamburguer{
        grid-area: hamburguer;
        display: block;
        position: relative;
        margin-left: 0.5rem;
        z-index: 3;
    }

    nav .logo img{
        width: 4.5rem;
        height: 4.5rem;
    }

    nav .logo{
        grid-area: logo;
        justify-self: flex-start;
    }

    .item.busqueda{
        grid-area: busqueda;
        justify-content: flex-end;
    }

    .iconos{
        justify-self: flex-end;
    }

    .item.usuario{
        margin: 0.5rem;
        transform: scale(1.5, 1.5);
    }
    
    .item.cart{
        margin: 1rem;
        transform: scale(1.5, 1.5);
    }

    .item.busqueda input{
        font-family: 'Playfair Display', serif;
        padding: 0.2rem;
        width: 70%;
        height: 2rem;
        background-color: #EEEEEE;
        border: 0px;
    }

    /*Sidebar Menu*/

    .menu{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #EEEEEE;
        width: 30vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        margin-left:-100%;
        z-index: 2;
    }

    .menu.mobile-menu{
        margin-left: 0;
    }

    .menu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu ul .item{
        margin: 1.5rem;
    }

    .menu .submenu{
        position: absolute;
        left: 30vw;
        top: 30%;
        width: 30vw;;
        height: 50vh;
        z-index: 2;
    }

    .menu .item{
        text-align: center;
        width: 30vw;
    }

    .submenu .subitem{
        margin: 1rem;
    }

    .menu .item:hover .submenu{
        background-color: #EEEEEE;
    }

    /*FRASE HEADER*/
    /* img */
    .frase_header{
        height:32rem;
    }
    
    .frase_header h1{
        font-size: 1.7rem;
    }

    /*Texto*/

    .frase_header.home h1{
        height: 5rem;
        width: 16rem;
    }
    
    /*Pages*/
    
    .frase_header.nosotros h1, .frase_header.p_tortas h1, .frase_header.contactanos h1, .frase_header.p_cupcakes h1{
        height: 2.7rem;
        width: 12rem;
    }

    /*------HOME-------*/

    /*CATEGORÍAS*/

    .categorias img
    {
        width: 10rem;
        height: 12rem;
    }

    /*SERVICIOS*/

    .servicios .tarjeta.cardd {
        border: solid 2.5px #CFA89D;
        background-color: white;
    }
    
    .servicios .tarjeta.delivery{
        background-color: #CFA89D;
    }

    /*EQUIPO*/

    .equipo.home img{
        width: 9rem;
        height: 12rem;
    }

    /*SUSCRIPCIÓN*/

    .suscripcion{
        height: 13rem;
        flex-direction: column;
    }

    .suscripcion h3{
        position: relative;
        top: 1.5rem;
        font-size: 1.2rem;
    }

    .suscripcion form{
        flex-direction: column;
        align-items: center;
        margin-top: 2.3rem;
    }

    .suscripcion #correo{
        width: 25rem;
        margin-bottom: 1rem;
    }


    /*FOOTER*/
    footer{
        background-color: #5A2A27;
        border-radius: 8px;
        width: 95%;
        height: 28rem;
        margin: auto;
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }
    
    footer .logo img{
        width: 5rem;
        height: 5rem;
    }
    
    footer .contactos h4, footer .redes h4, footer .pagos h4, footer p{
        color: #C1C1C1;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        font-family: 'Inter', sans-serif;
        text-align: start;
    }
    
    footer .contactos h4, footer .redes h4, footer .pagos h4{
        font-size: 1rem;
    }
    
    footer ul{
        list-style-type: none;
        color: white;
        text-align: start;
        padding-left: 1rem;
    }
    
    .redes ul, .pagos ul{
        display: flex;
        justify-content: start;
    }
    
    footer p{
        text-align: center;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 576px){

    /*------HOME-------*/

    /*CATEGORÍAS*/

    .categorias img
    {
        width: 7rem;
        height: 9rem;
    }

    /*SERVICIOS*/

    .servicios .tarjeta.fresh, .servicios .tarjeta.delivery{
        border: solid 2.5px #CFA89D;
        background-color: white;
    }
    
    .servicios .tarjeta.love, .servicios .tarjeta.cardd{
        background-color: #CFA89D;
    }

    /*EQUIPO*/

    .equipo.home img{
        width: 8rem;
        height: 11rem;
    }

}