.contactanos{
    width: $ancho_pagina;
    margin: auto;
    margin-top: 2rem;

    .formulario{
        form{
            display: flex;
            flex-direction: column;
            padding: 0.5rem;

            label{
                font-family: $Inter;
                margin-bottom: 1rem;
                margin-top: 1rem;
            }

            #nombre{
                @include input-style($Inter);
                height: 2.5rem;
                padding: 0.5rem;
            }

            #email{
                @include input-style($Inter);
                height: 2.5rem;
                padding: 0.5rem;
            }

            #comentario{
                @include input-style($Inter);
                resize: none;
                padding: 0.5rem;
            }

            #enviar_button{
                @include button-style(5.5rem);
                margin: auto;
                margin-top: 1rem;
            }
        }
    }

    .informacion{
        ul{
            padding: 0.5rem;
            line-height: 3rem;

            li{
                font-family: $Inter;
                i{
                    margin-right: 0.8rem;
                }
            }
        }
    }
}