header{
    nav{
        background-color: white;
        position: fixed;
        top: 0;
        left: 2.5%;
        z-index: 2;
        padding: 0;
        width: $ancho_pagina;
        height: 6rem;
        margin: auto;
        display: grid; 
        grid-template-columns: 1.3fr 12fr 5fr 1.4fr; 
        grid-template-rows: 96px; 
        gap: 2px;
        align-items: center;
        grid-template-areas: 
        "logo menu busqueda iconos";

        .side_menu{
            .hamburguer{
                display: none;
            }
        }

        .logo{
            grid-area: logo;

            img{
                width: 6rem;
                height: 6rem;
            }
        }

        .menu{
            grid-area: menu;
            padding: 0.5rem;

            .lista{
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                .item{
                    padding: 0.5rem;

                    &:hover{
                        text-decoration: underline;
                    }

                    .dropdown{

                        button{
                            position: relative;
                            bottom:8px;

                            &:hover{
                                text-decoration: underline;
                            }
                        }

                        .submenu{
                            line-height: 2rem;
                            background-color: white;
                            border: none;

                            .subitem{
                                .dropdown-item:hover{
                                    text-decoration: underline;
                                    background-color: white;
                                }
                            }
                        }
                    }
                }
            }
        }

        .iconos{
            grid-area: iconos;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .item.busqueda{
            padding: 0.5rem;
            grid-area: busqueda;
            display: flex;
            justify-content: flex-end;

            input{
                font-family: $Playfair;
                font-size: 0.85rem;
                padding: 0.2rem;
                width: 12rem;
                background-color: $gris_claro;
                border: none;
            }

            button{
                margin-left: 0.5rem;
                background-color: white;
                border: none;
            }
        }
    }

    .frase_header{
        height:38rem;
        width: $ancho_pagina;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: auto;
        border-radius: $borde_redondeado;

        h1{
            font-size: 2rem;
        }
    }

    .frase_header.home{
        background-image: url(../img/header_home.jpeg);
        font-style: italic;
        display: flex;
        align-items: center;
        padding: 0.5rem;

        h1{
            font-weight: lighter;
            background-color: #ffffffbd;
            height: 6rem;
            width: 20rem;
            padding: 0.5rem;
            display: flex;
            align-items: center;
        }
    }

    .frase_header.nosotros{
        background-image: url(../img/header_nosotros.jpeg);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-style: italic;

        h1{
            background-color: #ffffff69;
            height: 3rem;
            width: 19rem;
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .frase_header.contactanos{
        background-image: url(../img/header_contactanos.jpeg);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-style: italic;

        h1{
            background-color: #0000005a;
            height: 3rem;
            width: 19rem;
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .frase_header.p_tortas{
        background-image: url(../img/header_tortas.jpeg);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-style: italic;

        h1{
            background-color: #ffffff69;
            height: 3rem;
            width: 19rem;
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .frase_header.p_cupcakes{
        background-image:url(../img/header_cupcakes.jpeg);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-style: italic;

        h1{
            background-color: #0000005a;
            height: 3rem;
            width: 19rem;
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}