.categorias{
    h2{
        text-align: center;
        padding: 1.5rem;
    }
    .row{
        width: $ancho_pagina;
        margin: auto;
        padding: 0;
        margin-bottom: 1.5rem;

        .categorie{
            @include flex-column-center;
            text-align: center;

            figure{
                overflow: hidden;
                border-radius: $borde_redondeado;

                &:hover{
                    img{
                        transform: scale(1.1, 1.1);
                    }
                }
                
                img{
                    transition: all 1s ease;
                    width: 13rem;
                    height: 18rem;
                    margin: 0.5rem auto;
                    border-radius: $borde_redondeado;
                    object-fit: cover;
                }
            }
        }
    }
}

.frase_home{
    background-image: url(../img/tabla_madera.jpeg);
    @include bg-image(10rem);
    margin-top: 3rem;
    margin-bottom: 3rem;
    @include flex-row-center;

    h2{
        color: white;
        font-style: italic;
        font-weight: lighter;
        text-align: center;
        @include flex-row-center;
        width: 75%;
        padding: 0.5rem;
        margin-bottom: 0;
        background-color: #030303b9;
        border-radius: $borde_redondeado;
    }
}

.servicios{
    width: $ancho_pagina;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    .tarjeta{
        border-radius: $borde_redondeado;
        margin: 0.5rem auto;

        i{
            display: flex;
            justify-content: center;
            padding-top: 1.5rem;
        }

        h3{
            padding: 0.5rem;
            text-align: center;
        }

        p{
            padding: 0.5rem;
            text-align: justify;
        }
    }

    .tarjeta.fresh{
        border: solid 2.5px $fondo_servicios;
    }

    .tarjeta.delivery{
        border: solid 2.5px $fondo_servicios;
    }

    .tarjeta.love{
        background-color: $fondo_servicios;
    }

    .tarjeta.cardd{
        background-color: $fondo_servicios;
    }
}

.equipo.home{
    h2{
        margin-bottom: 2rem;
    }

    .row{
        width: $ancho_pagina;
        margin: auto;
        padding: 0;
        margin-bottom: 1.5rem;

        .person{
            @include flex-column-center;
            text-align: center;

            img{
                width: 12rem;
                height: 15rem;
                margin: 0.5rem auto;
                border-radius: $borde_redondeado;
                object-fit: cover;
                box-shadow: 0 0 0.2rem #989898;
            }

            h4{
                color:#4F4F4F;
                font-family: $Inter;
                font-weight: lighter;
                padding: 0.5rem;
            }
        }
    }
}