.suscripcion{
    background-image: url(../img/suscripcion.jpeg);
    @include bg-image(10rem);
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include flex-row-center;

    h3{
        display: flex;
        justify-content: center;
        padding: 0.5rem;
    }

    form{
        display: flex;
        justify-content: center;
        padding: 0.5rem;

        #correo{
            @include input-style($Playfair);
            padding: 0.2rem;
            width: 20rem;

            &::placeholder{
                color:#030303;
            }
        }

        #suscribir_button{
            @include button-style(5.5rem);
        }
    }
}