$Inter:'Inter', sans-serif;
$Playfair: 'Playfair Display', serif;
$ancho_pagina: 95%;
$borde_redondeado: 0.5rem;
$gris_claro: #EEEEEE;
$gris_oscuro: #C1C1C1;
$marron: #5A2A27;
$fondo_servicios:#CFA89D;
$fondo_nosotros_description: #DBCDC6;
$fondo_claro: #ffffff69;
$fondo_oscuro: #0000005a;

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-row-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin texto-header ($bg-color){
    background-color: $bg-color;
    height: 3rem;
    width: 19rem;
    padding: 0.5rem;
}

@mixin bg-image ($height){
    width: $ancho_pagina;
    height:$height;
    border-radius: $borde_redondeado;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}

@mixin input-style($tipo-letra){
    font-family: $tipo-letra;
    background-color: $gris_claro;
    border: none;
}

@mixin button-style($width)
{
    font-family: $Inter;
    font-weight: 600;
    color: white;
    background-color: black;
    padding: 0.2rem;
    font-size: 0.75rem;
    width: $width;
}

@import "generalidades";

@import "header";

@import "home";

@import "nosotros";

@import "contactanos";

@import "productos";

@import "suscripcion";

@import "footer";

@import "media-md";

@import "media-sm";

@import "media-adicionales";
